h1 { font-size: 70px; font-weight: 100; line-height: 80px; font-family: $titlefont; max-width: 100%; color: $white-color;}
h2 { font-size: 48px; font-weight: 100; margin-bottom: 30px; font-family: $titlefont; max-width: 100%; color: $white-color; text-shadow: 2px 2px 2px $white-color}
h3 { font-size: 33px; font-family: $font;}
h4 { font-size: 20px; font-family: $font; color: $dark-color; padding: 5px;}
h5 { margin-bottom: 0px; font-family: $font; }

p { font-size: 20px; color: $dark-color; opacity: .5; line-height: 1.8; margin-bottom: 0px; color:$white-color;}


